<div class="jumbotron">
    Consumer
    <hr>
    <div class="form-group">
        <label for="consumer_bootstrap_server">Bootstrap Server:</label>
        <input type="text" class="form-control" id="consumer_bootstrap_server" placeholder="Consumer bootstrap server hostname">
    </div>

    <div class="form-group">
        <label for="consumer_kafka_topic">Kafka Topic:</label>
        <input type="text" class="form-control" id="consumer_kafka_topic" placeholder="Kafka topic to consume from">
    </div>

    <div class="form-group">
        <label for="consumer_group_id">Group Id:</label>
        <input type="text" class="form-control" id="consumer_group_id" placeholder="Consumer group id">
    </div>

    <div class="form-group">
        <label for="consumer_offset">Offset: </label>
        <select class="form-control" id="consumer_offset">
            <option>earliest</option>
            <option>latest</option>
        </select>
    </div>

    <button type="button" class="btn btn-primary" class="consumer_submit" id="consumer_submit">Consume</button>
    <button type="button" class="btn" id="consumer_reset">Reset</button>
    <hr>
    <div class="form-group">
        <label for="consumer_messages">Messages:</label>
        <button type="button" class="btn" data-clipboard-target="#consumer_messages" id="consumer_copy_to_clipboard">Copy to clipboard</button>
        <textarea class="form-control" rows="10" id="consumer_messages" readonly></textarea>
    </div>
</div>