<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka-Grep</title>
    <link rel="icon" href="{{ url_for('static', filename='queue.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='action.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='clipboard.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >

</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container-full">
        {% block body %}{% endblock %}
    </div>

</body>
</html>